---
import Layout from "../layouts/Layout.astro";
import Card from '../components/Card.astro';

---

<Layout title="About As">
	<main>
		<nav>
			<div class="bg-blue-950 container mx-auto flex justify-between">
				<div class=" flex space-x-4 bg-red-800 opacity-79">
					<a href="http://localhost:4321/" class="text-white">Home</a>
					<a href="http://localhost:4321/about" class="text-white">About</a>
					<a href="#" class="text-white">Repeat</a>
				</div>
			</div>
		</nav>
	</main>
		
    <div class="container flex flex-auto justify-between  bg-teal-900 blur-0">
		<h3 class="text-white">

			Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
			labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
			animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
			aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
			pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
			commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa
			proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
			eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
			Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et
			culpa duis.
		</h3>
</Layout>