---
import Layout from "../layouts/Layout.astro";
import Card from '../components/Card.astro';
import Navegation from '../components/topbar.astro'

---

<Layout title="About As">
	
	<Navegation />
	
	<div class="p-16">
		<div class="bg-[#7c9bdb] flex rounded-md p-4">
			<h1 class="text-white text-3xl">
				Bienvenido a BtMate
			</h1>
		</div>

		<div class="bg-[#7c9bdb] flex rounded-md p-4">
			<h3 class="text-white text-base">
				¿Por qué elegirnos?
				Experiencia y Expertise: Contamos con un equipo de profesionales altamente capacitados y con años de experiencia en el desarrollo de software. Desde aplicaciones móviles hasta sitios web complejos, sabemos cómo llevar tus ideas al siguiente nivel.
				Enfoque Colaborativo: Creemos en la importancia de la colaboración. Trabajamos estrechamente con nuestros clientes para comprender sus necesidades, objetivos y valores, asegurándonos de que cada proyecto sea una verdadera representación de su visión.
				Innovación Continua: La tecnología evoluciona rápidamente, y nosotros también. Mantenemos nuestro pulso en las últimas tendencias y tecnologías para ofrecer soluciones vanguardistas que mantengan a nuestros clientes a la vanguardia de sus industrias.
				Compromiso con la Calidad: La calidad es la piedra angular de nuestro trabajo. Desde la planificación hasta la implementación y más allá, nos esforzamos por ofrecer productos y servicios que superen las expectativas y establezcan nuevos estándares en la industria.
				Nuestros Servicios
				Desarrollo de Aplicaciones Móviles: Creamos aplicaciones móviles intuitivas y atractivas que resuelven problemas y mejoran la vida diaria de los usuarios.
				Diseño y Desarrollo Web: Desde sitios web informativos hasta plataformas complejas, diseñamos y desarrollamos soluciones web que destacan en estética y funcionalidad.
				Consultoría Tecnológica: Ofrecemos asesoramiento experto para ayudarte a tomar decisiones informadas sobre tecnología, desde la selección de plataformas hasta estrategias de desarrollo.
				Únete a Nosotros en el Viaje Digital
			</h3>
		</div>

		<div class="bg-[#7c9bdb] flex rounded-md p-4 ">
			<h3 class="text-white text-base">
				En ByMate, nos apasiona convertir ideas innovadoras en experiencias digitales impactantes. Somos una empresa líder en el desarrollo de aplicaciones y páginas web, comprometidos con la excelencia y la creatividad en cada proyecto.
				Nuestra Misión
				En el corazón de nuestro enfoque está la misión de potenciar a empresas y emprendedores a través de soluciones digitales que no solo cumplen con sus expectativas, sino que las superan. Creemos en la capacidad de la tecnología para transformar negocios y mejorar vidas, y nos dedicamos a hacerlo realidad en cada línea de código que escribimos.
				Estamos emocionados de ser parte de tu viaje digital. Ya sea que estés lanzando un nuevo producto, expandiendo tu presencia en línea o buscando soluciones tecnológicas innovadoras, en [Nombre de la Empresa] estamos aquí para convertir tus visiones en realidad.
				¡Descubre lo que podemos lograr juntos!
			</h3>
		</div>
	</div>
</Layout>