---
import Layout from "../layouts/Layout.astro"
import Navegation from '../components/topbar.astro'

---

<Layout title="Video">
    
	<Navegation />
    
    <div class="flex flex-auto justify-center p-4">
        <video width="1280" height="720" controls>
            <source src="src/assets/Video_info.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
    </div>

</Layout>